@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .page-container {
    @apply flex max-w-7xl mx-auto gap-2 sm:gap-8 sm:px-2 lg:px-8;
  }
}
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}